NODE_ENV=development
PORT=4000
MONGO_URI=mongodb+srv://*****************:*********@example.mongodb.net/


# Frontend URL for CORS configuration
FRONTEND_URL=http://localhost:3000

# BCRYPT
BCRYPT_SALT_ROUND=50
